@media (min-width: 1200px) {
    .container {
        /* padding: 0; */
        max-width: 1200px;
    }
}

@media (max-width: 2000px) {
    .carousel-control-next {
        right: -100px;
    }
    .carousel-control-prev {
        left: -100px;
    }
}

@media (max-width: 1599px) {
    .carousel-control-next {
        right: 0;
    }
    .carousel-control-prev {
        left: 0;
    }
    .dr-slider {
        margin: -140px 30px 0;
    }
    .unsere-section, .map-section {
        margin: 0 30px;
    }
    .dr-slider .carousel-inner {
        padding: 220px 100px 140px;
    }
    .banner-section {
        background-position: 60% center;
    }
    .team-slider .carousel-control-next {
        right: -50px;
    }
    .team-slider .carousel-control-prev {
        left: -50px;
    }
}

@media (max-width: 1299px) {
    .unsere-section, .map-section {
        margin: 0 15px;
    }
    .dr-slider {
        margin: -140px 15px 0;
    }
    .scroll-top {
        right: -55px;
    }
    .team-slider .carousel-control-next {
        right: -10px;
    }
    .team-slider .carousel-control-prev {
        left: -10px;
    }
    .team-slider .carousel-inner {
        padding: 0 50px;
    }
}

@media (max-width: 1199px) {
    .banner-section h1 {
        font-size: 42px;
        padding: 30px 0;
    }
    .banner-section .call-btn {
        margin: 30px 0 0;
        display: block;
    }
    .banner-section .scroll-icon {
        margin-top: 50px;
    }
    .banner-section {
        padding: 100px 0 90px;
    }
    .common-title {
        font-size: 34px;
        margin-bottom: 40px;
    }
    .augen-section {
        padding: 40px 0 40px;
    }
    .augen-list {
        margin-top: 40px;
    }
    .unsere-section {
        padding: 40px 0;
    }
    .unsere-box {
        width: 100%;
    }
    .unsere-section .common-title {
        margin-bottom: 0;
    }
    .facharzte {
        padding: 80px 0 170px;
    }
    .dr-img {
        margin-top: -170px;
    }
    .gallery-box {
        padding: 20px;
    }
    .wir-section ul {
        margin-bottom: 60px;
    }
    .wir-section .tab-content {
        margin-bottom: 0;
    }
    footer .call-btn {
        margin-top: 30px;
        display: block;
    }
    .contact-btn {
        margin: 15px 0 30px;
    }
    footer {
        padding: 40px 0 40px;
    }
    .top-header span, .top-header ul li {
        font-size: 16px;
    }
    .top-header ul li a {
        font-size: 14px;
    }
    .navbar-light .navbar-toggler {
        margin-left: auto;
        border: 0;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .navbar-nav {
        padding-top: 50px;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 5px 18px;
    }
    .navbar-light .navbar-nav .nav-link::after {
        content: none;
    }
    .service-nav .nav-link {
        font-size: 18px;
        padding: 10px 0 10px 70px;
    }
    .banner-left h2 {
        font-size: 40px;
    }
    .tab-data h3 {
        font-size: 32px;
        margin-bottom: 20px;
    }
    .mt-60 {
        margin-top: 20px;
    }
    .common-padding {
        padding: 40px 0;
    }
    .tab-data .quote {
        margin: 40px 0 40px;
    }
    .team-align {
        align-items: flex-end;
    }
    .qualification {
        padding-bottom: 20px;
    }
    .team-slider .carousel-control-next-icon i, .team-slider .carousel-control-prev-icon i {
        font-size: 60px;
    }
    .wrapper img, .hospital-video iframe {
        height: 300px;
    }
    .contact-augen h2 {
        font-size: 28px;
        margin: 5px 0 20px;
    }
    .contact-augen {
        padding: 40px 0 40px;
    }
    .contact-augen img, .contact-augen i {
        margin: 5px 0 40px;
    }
    .contact-augen .med-title {
        margin-bottom: 20px;
    }
    .contact-augen a {
        font-size: 16px;
    }
    .phone-section .common-title {
        margin-bottom: 15px;
    }
    .mit-section {
        padding: 40px 0 0;
    }
    .blog-list li {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .blog-list li .link {
        padding: 15px 40px;
        min-height: 150px;
    }
    .optic-banner {
        padding: 180px 0 70px;
    }
    .padding-170 {
        padding: 40px 0;
    }
    .ihr-section h6 {
        margin: 0 0 40px;
    }
    .ihr-section p {
        margin-bottom: 20px;
        padding-right: 20px;
    }
    .optic-team ul {
        margin-top: 20px;
    }
    .optic-team ul li {
        font-size: 20px;
        padding-left: 35px;
    }
    .service-box {
        margin-top: 40px;
    }
    .service-box .image-effect {
        height: 270px;
        margin-bottom: 25px;
    }
    .service-box h5 {
        margin-bottom: 20px;
    }
    .service-box p {
        font-size: 18px;
        padding-right: 0;
    }
    .service-box .red-btn {
        margin-top: 10px;
    }
}

@media (max-width: 991px) {
    .banner-section .dr-name {
        font-size: 22px;
    }
    .banner-section h1 {
        font-size: 40px;
        padding: 20px 0;
        line-height: 60px;
    }
    .blue-btn {
        height: 50px;
    }
    .banner-section {
        padding: 80px 0 90px;
    }
    .titme-title, .t-right {
        font-size: 16px;
    }
    .time-list ul li span, .time-list ul li pre {
        font-size: 16px;
    }
    .time-list ul li {
        padding: 10px 0;
    }
    .time-head {
        padding: 10px 20px;
    }
    .time-list {
        margin-top: -54px;
    }
    .augen-section .common-title {
        width: auto;
    }
    .common-title {
        font-size: 26px;
        line-height: 45px;
    }
    .augen-section .med-title {
        margin: 20px 0;
    }
    .augen-box .augen-img {
        margin-bottom: 0px;
    }
    .augen-section p {
        padding-right: 0;
    }
    .unsere-box {
        padding: 15px;
        word-break: break-word;
    }
    .dr-slider h5 {
        margin-top: 15px;
    }
    .wir-section {
        margin-top: -45px;
    }
    .wir-section ul li {
        margin-right: 30px;
    }
    .gallery-box p {
        margin-top: 10px;
    }
    .social-links {
        margin-left: 0;
    }
    .top-header ul {
        display: none;
    }
    .top-header span, .top-header ul li {
        display: block;
        text-align: right;
    }
    .title-28 {
        font-size: 24px;
    }
    .title-span {
        font-size: 16px;
    }
    .service-nav .nav-link::before {
        width: 28px;
        height: 28px;
    }
    .service-nav .nav-link {
        font-size: 16px;
        padding: 10px 0 10px 55px;
    }
    .tab-data .quote {
        margin: 20px 0 20px;
        padding: 0 45px;
    }
    .red-btn {
        font-size: 15px;
        height: 50px;
    }
    .team-page .team-box {
        margin-bottom: 0;
    }
    .slide-img {
        margin: auto;
        display: block;
        margin-bottom: 20px;
    }
    .team-slider .dr-name {
        margin-bottom: 10px;
    }
    .team-slider p {
        margin-bottom: 15px;
    }
    .qualification {
        margin-top: 20px;
    }
    .specialist .team-image {
        height: 300px;
    }
    .specialist .team-image img {
        height: 300px;
    }
    .wrapper img, .hospital-video iframe {
        height: 230px;
    }
    .contact-augen .address {
        margin-bottom: 20px;
        display: block;
    }
    .phone-profile img {
        width: 150px;
        height: 150px;
    }
    .address-number h3 {
        font-size: 20px;
        line-height: 35px;
    }
    .address-number a {
        font-size: 24px;
    }
    .contact-form-section .red-btn {
        margin: 20px auto 0;
    }
    .form-control {
        padding: 15px;
    }
    .blog-pagination {
        margin: 0 0 20px;
    }
    .optic-banner {
        padding: 140px 0 70px;
    }
    .optic-team .red-btn-square {
        margin-top: 20px;
    }
    .optic-team ul li {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .common-title {
        font-size: 22px;
        line-height: 35px;
    }
    .banner-section h1 {
        font-size: 36px;
    }
    .med-title {
        font-size: 18px;
        line-height: 30px;
    }
    .augen-list .list-box:nth-child(even) .augen-box {
        margin: 30px 0;
    }
    .unsere-box {
        padding: 15px 15px 40px;
        height: auto;
    }
    .add-unsere {
        padding-bottom: 15px !important;
    }
    .facharzte {
        padding: 40px 0 130px;
        text-align: center;
    }
    .facharzte button {
        margin: 15px auto 0;
    }
    .wir-section {
        margin-top: -35px;
    }
    .unsere-section, footer {
        margin: 0;
    }
    .dr-slider {
        margin: -140px 0 0;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 32px;
        height: 19px;
    }
    .wir-section ul li {
        margin: 0 15px 15px 0;
    }
    .wir-section ul li a {
        padding: 20px 0 5px;
    }
    .wir-section ul {
        margin-bottom: 20px;
    }
    .gallery-box {
        height: calc(100% - 40px) !important;
    }
    .footer-title {
        margin-top: 20px;
    }
    .footer-links {
        margin-top: 10px;
    }
    .footer-links a {
        font-size: 14px;
        line-height: 36px;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 15px;
    }
    .inner-banner {
        padding: 80px 0 40px;
    }
    .banner-left {
        margin-bottom: 15px;
    }
    .banner-left h2 {
        font-size: 36px;
    }
    .service-nav {
        flex-direction: row !important;
    }
    .service-nav .nav-link:last-child {
        border-bottom: 1px solid #e6eff5;
    }
    .service-nav .nav-link {
        font-size: 15px;
    }
    .tab-data h3 {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .tab-data .quote {
        font-size: 20px;
    }
    .qualification h4 {
        margin-top: 10px;
    }
    .qualification {
        margin-top: 10px;
    }
    .pr-45 {
        padding-right: 15px;
    }
    .pl-45 {
        padding-left: 15px;
    }
    .wrapper img, .hospital-video iframe {
        height: 300px;
    }
    .contact-augen img, .contact-augen i {
        margin: 5px 0 20px;
    }
    .contact-augen a {
        margin-bottom: 20px;
        display: inline-block;
    }
    .phone-profile img {
        width: 110px;
        height: 110px;
    }
    .contact-right {
        text-align: left;
        margin-top: 15px;
    }
    .info {
        justify-content: flex-start;
    }
    .address-number h3 {
        font-size: 16px;
        line-height: 30px;
    }
    .address-number a {
        font-size: 20px;
    }
    .address-n-section .contact-right {
        text-align: right;
        margin-top: 0;
    }
    .custom-control-label {
        padding-left: 15px;
    }
    .blog-list li h5, .news-title {
        font-size: 20px;
    }
    .blog-by li, .blog-list li p {
        font-size: 16px;
    }
    .blog-list li .link span {
        font-size: 20px;
        line-height: 28px;
    }
    .career-section .red-btn {
        margin-top: 15px;
    }
    .career-btn-right {
        text-align: left;
    }
    .career-section h6 {
        font-size: 20px;
    }
    .career-detail h5 {
        margin-bottom: 20px;
    }
    .details {
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
    .career-detail h5 {
        font-size: 22px;
    }
    .career-detail ul li {
        font-size: 20px;
    }
    .ihr-section .image-effect {
        margin-top: 20px;
    }
    .ihr-section .red-btn {
        margin-top: 40px;
    }
    .optic-team ul li::before {
        background-size: 15px;
        top: 4px;
    }
    .optic-team ul li {
        font-size: 18px;
        padding-left: 30px;
    }
    .service-box .image-effect {
        height: auto;
    }
    .service-box .image-effect img {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .banner-section .dr-name {
        font-size: 15px;
    }
    .banner-section h1 {
        font-size: 26px;
        line-height: 40px;
    }
    .banner-section .scroll-icon {
        margin-top: 30px;
    }
    .time-list {
        text-align: center;
        margin-top: -70px;
    }
    .t-right {
        text-align: center;
        margin-top: 5px;
    }
    .time-list ul li span, .time-list ul li pre {
        text-align: center;
    }
    .common-title {
        font-size: 20px;
        line-height: 30px;
    }
    .dr-slider .carousel-inner {
        padding: 220px 0px 140px;
    }
    .carousel-control-next, .carousel-control-prev {
        top: auto;
        bottom: 70px;
    }
    .carousel-control-prev {
        left: 30%;
    }
    .carousel-control-next {
        right: 30%;
    }
    .gallery-list .gallery-img {
        width: 100%;
    }
    .gallery-box {
        min-height: 150px;
        margin-bottom: 40px;
    }
    .social-links {
        display: block;
    }
    .social-links li {
        margin: 10px 0;
    }
    .copy-right {
        margin: 20px 0 0;
        font-size: 12px;
    }
    .scroll-top {
        bottom: auto;
        top: 50px;
    }
    .top-header span, .top-header ul li {
        font-size: 13px;
    }
    .top-header {
        margin-left: 140px;
    }
    .navbar-brand img {
        width: 150px;
    }
    .navbar-brand {
        top: -39px;
    }
    .navbar-nav {
        padding-top: 20px;
    }
    .banner-left p {
        margin-bottom: 0;
    }
    .banner-left h2 {
        font-size: 26px;
    }
    .inner-banner {
        padding: 40px 0 20px;
    }
    .service-nav .nav-link {
        border-bottom: 0 !important;
    }
    .title-span {
        font-size: 16px;
    }
    .tab-data h3 {
        font-size: 24px;
    }
    .tab-data .quote {
        font-size: 16px;
    }
    .tab-data {
        padding: 15px 0 15px 0;
    }
    .tab-data .red-btn {
        display: block;
        text-align: center;
        padding-top: 3px;
    }
    .red-btn strong {
        margin-left: 0;
        display: block;
    }
    .title-28 {
        font-size: 22px;
    }
    .contact-section h2 {
        font-size: 24px;
    }
    .practice-box, .practice-box img {
        height: auto;
        width: 100%;
    }
    .team-slider .carousel-inner {
        padding: 0;
    }
    .appointment {
        display: block;
        text-align: center;
    }
    .appointment a {
        margin: 0 15px 10px;
        display: flex;
    }
    .carousel-control-next, .carousel-control-prev {
        top: -40px;
        bottom: auto;
    }
    .team-slider .carousel-control-prev {
        left: auto;
        right: 30px;
    }
    .wrapper img, .hospital-video iframe {
        height: 260px;
    }
    .contact-augen h2 {
        font-size: 20px;
        line-height: 30px;
    }
    .phone-profile img {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }
    .phone-profile h6 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .phone-profile span {
        font-size: 14px;
    }
    .address-n-section .contact-right {
        text-align: left;
        margin-top: 15px;
    }
    .map-section iframe {
        height: 300px;
    }
    .mit-section h6, .mit-section p {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .form-control {
        height: 50px;
    }
    .form-group {
        margin-bottom: 20px;
    }
    .address-number span, .address-number a {
        font-size: 16px;
    }
    .blog-list li .media {
        display: block;
    }
    .blog-date {
        margin-bottom: 10px;
    }
    .blog-list li .link {
        padding: 15px 15px;
        min-height: auto;
    }
    .blog-list li .link i {
        padding-right: 15px;
    }
    .blog-list li .link span {
        font-size: 18px;
        padding-left: 15px;
    }
    .blog-pagination ul li a {
        width: 45px;
        height: 45px;
        font-size: 18px;
    }
    .category-list, .recent-list {
        margin-bottom: 20px;
    }
    .optic-banner .banner-left h2 {
        font-size: 25px;
    }
    .ihr-section .common-title{
        margin-bottom: 20px;
    }
    .ihr-section h6 {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 20px;
    }
    .ihr-section p{
        padding-right: 0;
    }
    .optic-team ul li {
        font-size: 16px;
    }
    .service-box h5 {
        font-size: 20px;
    }
    .service-box p{
        font-size: 16px;
    }
}

@media (max-width: 449px) {
    .qualification ul {
        display: block;
    }
    .qualification ul li {
        width: 80%;
    }
}

@media (max-width: 384px) {
    .navbar-brand {
        top: -58px;
    }
}